@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 243, 244, 246;
  --background-rgb: 15, 16, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
